@import "base/map";

header{
    width: 80%;
    margin: 0 auto;
}

nav{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    @include alignCenter;
    background: url("../images/bg-hero.svg") no-repeat right bottom;
    height: 70vh;
    max-height: 450px;
}

section{
    margin: 50px 0;
}

@media screen and (max-width: 767px) {
    main{
        background-position: top 100px right -150px;
        max-height: 750px;
    }
}