header{
    width: 80%;
    margin: 0 auto;
}

nav{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    background: url("../images/bg-hero1.svg") no-repeat right bottom;
    justify-content: center;
    align-items: center;
    height: 70vh;
}