@import "base/map.scss";

.menu{
    
    &_link{
        margin-right: 30px;
        text-transform: uppercase;
        color: map-get($Neutral, "VeryDarkBlue");
        transition: all 400ms;

        &:hover{
            color: map-get($Primary, "SoftRed");
        }
    }

    &_login{
        padding: 11px 30px;
        box-shadow: 5px 5px 9px rgba(54, 54, 54, 0.3);
        border-radius: 5px;
        background-color: map-get($Primary, "SoftRed" );
        border: 1px solid map-get($Primary, "SoftRed" );
        color: white;

        &:hover{
            background-color: white;
            border: 1px solid map-get($Primary, "SoftRed" );
        }
    }

    &_hamburguer{
        display: none;
        cursor: pointer;
    }

    .menu_social{
        display: none;
    }

    &_close{
        display: none;
    }
}

.main{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

    &_texts{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &_titulo{
        font-weight: 600;
        font-size: 2.3em;
        color: #252525;
        text-transform: capitalize;
    }

    &_descricao{
        color: map-get($Neutral, GrayshBlue );
    }

    &_buttons{
        display: flex;
        gap: 20px;

        &_chrome, &_firefox{
            width: 150px;
            height: 45px;
            cursor: pointer;
            border: 0;
            border-radius: 6px;
            font-weight: 500;
            box-shadow: 0px 5px 5px #1b1b1b3b;
            transition: all 400ms;
        }

        &_firefox{
            color: #252525;
            border: 2px solid transparent;
            &:hover{
                border: 2px solid #252525;
                background-color: white;
            }
        }

        &_chrome{
            background-color: map-get($Primary, SoftBlue );
            color: white;
            border: 2px solid  map-get($Primary, SoftBlue );
            
            &:hover{
                border: 2px solid  map-get($Primary, SoftBlue );
                background-color: transparent;
                color: map-get($Primary, SoftBlue );
            }
        }
    }

    &_images{
        width: 60%;
    }
}

.features{  
    @include alignCenter;
    flex-direction: column;

    &_header{
        width: 80%;
        @include alignCenter;
        flex-direction: column;
    }

    &_title{
        margin-bottom: 20px;
        font-size: 2em;
        font-weight: 500;
        color: #252525;
    }

    &_descricao{
        color: map-get($Neutral, GrayshBlue );
        max-width: 580px;
        text-align: center;
    }

    &_tabs{
        width: 800px;
        padding-bottom: 0;
        border-bottom: 1px solid #c9c9c9;
        text-align: center;
    }
    &_link{
        width: 250px;
        padding: 20px;
        color: #3f3f3f;
        font-weight: 500;
        transition: all 400ms;
        text-transform: capitalize;
        border: 4px solid transparent;
        &:hover{
            color: map-get($Primary, SoftRed );
        }
    }

    &_selected{
        width: 100%;
        height: 500px;
        background: url("../images/bg-hero-espelhado.svg") no-repeat bottom left;
        @include alignCenter;
        padding:70px 0;

        &_texts{
            padding: 20px 0;
        }

        &_title{
            color: #252525;
            font-size: 2em;
            text-transform: capitalize;
        }
        &_descricao{
            color: map-get($Neutral, GrayshBlue );
            margin: 20px 0;
            min-width: 350px;
            max-width: 420px;
        }
        &_button{
            background-color: map-get($Primary, SoftBlue );
            color: white;
            border: 0;
            padding: 15px 20px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: all 400ms;
            text-transform: capitalize;
            &:hover{
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
            }
        }
    }

}

@media screen and (max-width: 767px){
    .menu{

        &_items{
            display: none;
        }

        &_hamburguer{
            display: block;
        }
    }

    .main{
        flex-direction: column-reverse;

        &_texts{
            width: 100%;
            text-align: center;
        }

        &_image{
            display: flex;
            justify-content: center;
            &_element{
                width: 360px;
            }
        }
    }

    .features{
        &_tabs{
            flex-direction: column;
            padding: 20px;
            border: 0;
            margin-bottom: 60px;
        }
        &_link{
            border-bottom: 1px solid #c9c9c9;
        }

        &_selected{
            background: url('../images/bg-hero-mobile-espelhado.svg') no-repeat top 50px left -140px;
        }

        &_selected_img{
            width: 350px;
        }

        &_selected_texts{
            text-align: center;
            padding: 50px;
        }

        &_selected_descricao{
            text-align: center;
        }
    }
}