@import "base/map.scss";

.menu{
    
    &_link{
        margin-right: 30px;
        text-transform: uppercase;
        color: map-get($Neutral, "VeryDarkBlue");
        transition: all 400ms;

        &:hover{
            color: map-get($Primary, "SoftRed");
        }
    }

    &_login{
        padding: 11px 30px;
        box-shadow: 5px 5px 9px rgba(54, 54, 54, 0.3);
        border-radius: 5px;
        background-color: map-get($Primary, "SoftRed" );
        border: 1px solid map-get($Primary, "SoftRed" );
        color: white;

        &:hover{
            background-color: white;
            border: 1px solid map-get($Primary, "SoftRed" );
        }
    }

    &_hamburguer{
        display: none;
        cursor: pointer;
    }

    .menu_social{
        display: none;
    }

    &_close{
        display: none;
    }
}

.main{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

    &_texts{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &_titulo{
        font-weight: 600;
        font-size: 2.3em;
        color: #252525;
        text-transform: capitalize;
    }

    &_descricao{
        color: map-get($Neutral, GrayshBlue );
    }

    &_buttons{
        display: flex;
        gap: 20px;

        &_chrome, &_firefox{
            width: 150px;
            height: 45px;
            cursor: pointer;
            border: 0;
            border-radius: 6px;
            font-weight: 500;
            box-shadow: 0px 5px 5px #1b1b1b3b;
            transition: all 400ms;
        }

        &_firefox{
            color: #252525;
            border: 2px solid transparent;
            &:hover{
                border: 2px solid #252525;
                background-color: white;
            }
        }

        &_chrome{
            background-color: map-get($Primary, SoftBlue );
            color: white;
            border: 2px solid  map-get($Primary, SoftBlue );
            
            &:hover{
                border: 2px solid  map-get($Primary, SoftBlue );
                background-color: transparent;
                color: map-get($Primary, SoftBlue );
            }
        }
    }

    &_images{
        width: 60%;
    }
}

.features{  
    @include alignCenter;
    flex-direction: column;

    &_header{
        width: 80%;
        @include alignCenter;
        flex-direction: column;
    }

    &_title{
        @include title;
    }

    &_descricao{
        color: map-get($Neutral, GrayshBlue );
        max-width: 580px;
        text-align: center;
    }

    &_tabs{
        width: 800px;
        padding-bottom: 0;
        border-bottom: 1px solid #c9c9c9;
        text-align: center;
    }
    &_link{
        width: 250px;
        padding: 20px;
        color: #3f3f3f;
        font-weight: 500;
        transition: all 400ms;
        text-transform: capitalize;
        border: 4px solid transparent;
        &:hover{
            color: map-get($Primary, SoftRed );
        }
    }

    &_selected{
        width: 100%;
        height: 500px;
        background: url("../images/bg-hero-espelhado.svg") no-repeat bottom left;
        @include alignCenter;
        padding:70px 0;

        &_texts{
            padding: 20px 0;
        }

        &_title{
            color: #252525;
            font-size: 2em;
            text-transform: capitalize;
        }
        &_descricao{
            color: map-get($Neutral, GrayshBlue );
            margin: 20px 0;
            min-width: 350px;
            max-width: 420px;
        }
        &_button{
            background-color: map-get($Primary, SoftBlue );
            color: white;
            border: 0;
            padding: 15px 20px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: all 400ms;
            text-transform: capitalize;
            &:hover{
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
            }
        }
    }

}

.extensions{
    &_texts{
        text-align: center;
    }

    &_title{
        @include title;
    }

    &_descricao{
        width: 420px;
        margin: 0 auto;
        color: map-get($Neutral, GrayshBlue );
    }

    &_browsers{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
        &_box{
            box-shadow: 0 5px 10px #7c7c7c4d;
            border-radius: 10px;
            padding: 20px 0;
            @include alignCenter;
            justify-content: space-between;
            flex-direction: column;
            width: 250px;
            height: 300px;
            overflow: hidden;

            &_texts{
                text-align: center;
            }

            &_descricao{
                color: map-get($Neutral, GrayshBlue );
            }
        }

        &_firefox{
            margin-top: 150px;
        }

        &_opera{
            margin-top: 300px;
        }

        &_button{
            width: 200px;
            height: 45px;
            border-radius: 8px;
            border: 0;
            background-color: map-get($Primary, SoftBlue );
            color: white;
            font-weight: 500;
            cursor: pointer;
            border: 2px solid map-get($Primary, SoftBlue );
            transition: background 400ms ease-in;

            &:hover{
                background-color: transparent;
                color: map-get($Primary, SoftBlue );
            }
        }
    }
}

.questions{
    @include alignCenter;
    flex-direction: column;

    &_header{
       @include alignCenter;
       flex-direction: column;
       text-align: center;
    }

    &_title{
        @include title;
    }

    &_descricao{
        color: map-get($Neutral, GrayshBlue );
        width: 450px;
    }

    &_arrow{
        transform: all 400ms;
    }

    &_accordeons{
        width: 500px;
        margin: 0 auto;
        margin-top: 20px;

        &_body{
            border-bottom: 1px solid rgb(172, 172, 172);;
        }

        &_header{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            text-transform: capitalize;
            color: #3f3f3f;
            transition: color 400ms;

            &:hover{
                color: map-get($Primary, SoftRed );
            }
        }

        &_content{
            display: none;
            padding: 10px;
            color: map-get($Neutral, GrayshBlue );

            &_text{
                line-height: 30px;
            }
        }
    }

    &_button{
        background-color: map-get($Primary, SoftBlue );
        color: white;
        border: 0;
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all 400ms;
        text-transform: capitalize;
        margin-top: 40px;
        &:hover{
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
        }
    }
}


.footer{
    background-color: map-get($Primary, SoftBlue );
    padding-top: 70px;
    &_header{
        @include alignCenter;
        flex-direction: column;

        &_texts{
            color: white;
            text-align: center;
            margin-bottom: 30px;
        }

        &_subtitle{
            margin-bottom: 40px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }

    &_contact{
        height: 50px;
        display: flex;
        gap: 10px;

        &_input{
            width: 320px;
            padding: 10px;
            font-size: 16px;
            border-radius: 8px;
            border: 0;
        }

        &_submit{
            width: 120px;
            border-radius: 8px;
            border: 0;
            background-color: map-get($Primary, SoftRed );
            font-size: 16px;
            color: white;
            cursor: pointer;
            transition: all 400ms;
            border: 2px solid transparent;
            font-weight: 500;

            &:hover{
                border-color: map-get($Primary, SoftRed );
                color: map-get($Primary, SoftRed );
                background-color: white;
            }
        }
    }

    &_box{
        background-color: map-get($Neutral, VeryDarkBlue );
        margin-top: 70px;
        &_content{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_logo{
                filter: brightness(0) invert(100%);
            }


            &_nav{
                display: flex;
                gap: 50px;
            }

            &_link{
                color: white;
                text-transform: uppercase;
                transition: all 400ms;

                &:hover{
                    color: map-get($Primary, SoftRed );
                }
            }

            &_social{
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }

    }
}

@media screen and (max-width: 767px){
    .menu{

        &_items{
            display: none;
        }

        &_hamburguer{
            display: block;
        }
    }

    .main{
        flex-direction: column-reverse;

        &_texts{
            width: 100%;
            text-align: center;
        }

        &_image{
            display: flex;
            justify-content: center;
            &_element{
                width: 360px;
            }
        }
    }

    .features{
        &_tabs{
            flex-direction: column;
            padding: 20px;
            border: 0;
            margin-bottom: 60px;
        }
        &_link{
            border-bottom: 1px solid #c9c9c9;
        }

        &_selected{
            background: url('../images/bg-hero-mobile-espelhado.svg') no-repeat top 50px left -140px;
        }

        &_selected_img{
            width: 350px;
        }

        &_selected_texts{
            text-align: center;
            padding: 50px;
        }

        &_selected_descricao{
            text-align: center;
        }
    }

    .extensions{
        &_descricao{
            width: 350px;
        }
        &_browsers{
            flex-direction: column;
            align-items: center;

            &_firefox{
                margin-top: 0;
            }
    
            &_opera{
                margin-top: 0;
            }
        }
    }

    .questions{

        &_descricao{
            width: 80%;
        }

        &_accordeons{
            width: 90%;
        }
    }



}