* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  width: 80%;
  margin: 0 auto;
}

nav {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/bg-hero.svg") no-repeat right bottom;
  height: 70vh;
  max-height: 450px;
}

section {
  margin: 50px 0;
}

@media screen and (max-width: 767px) {
  main {
    background-position: top 100px right -150px;
    max-height: 750px;
  }
}
.menu_link {
  margin-right: 30px;
  text-transform: uppercase;
  color: hsl(229, 31%, 21%);
  transition: all 400ms;
}
.menu_link:hover {
  color: hsl(0, 94%, 66%);
}
.menu_login {
  padding: 11px 30px;
  box-shadow: 5px 5px 9px rgba(54, 54, 54, 0.3);
  border-radius: 5px;
  background-color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
  color: white;
}
.menu_login:hover {
  background-color: white;
  border: 1px solid hsl(0, 94%, 66%);
}
.menu_hamburguer {
  display: none;
  cursor: pointer;
}
.menu .menu_social {
  display: none;
}
.menu_close {
  display: none;
}

.main {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}
.main_texts {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main_titulo {
  font-weight: 600;
  font-size: 2.3em;
  color: #252525;
  text-transform: capitalize;
}
.main_descricao {
  color: hsl(229, 8%, 60%);
}
.main_buttons {
  display: flex;
  gap: 20px;
}
.main_buttons_chrome, .main_buttons_firefox {
  width: 150px;
  height: 45px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 0px 5px 5px rgba(27, 27, 27, 0.231372549);
  transition: all 400ms;
}
.main_buttons_firefox {
  color: #252525;
  border: 2px solid transparent;
}
.main_buttons_firefox:hover {
  border: 2px solid #252525;
  background-color: white;
}
.main_buttons_chrome {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 2px solid hsl(231, 69%, 60%);
}
.main_buttons_chrome:hover {
  border: 2px solid hsl(231, 69%, 60%);
  background-color: transparent;
  color: hsl(231, 69%, 60%);
}
.main_images {
  width: 60%;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features_header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features_title {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 500;
  color: #252525;
}
.features_descricao {
  color: hsl(229, 8%, 60%);
  max-width: 580px;
  text-align: center;
}
.features_tabs {
  width: 800px;
  padding-bottom: 0;
  border-bottom: 1px solid #c9c9c9;
  text-align: center;
}
.features_link {
  width: 250px;
  padding: 20px;
  color: #3f3f3f;
  font-weight: 500;
  transition: all 400ms;
  text-transform: capitalize;
  border: 4px solid transparent;
}
.features_link:hover {
  color: hsl(0, 94%, 66%);
}
.features_selected {
  width: 100%;
  height: 500px;
  background: url("../images/bg-hero-espelhado.svg") no-repeat bottom left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
.features_selected_texts {
  padding: 20px 0;
}
.features_selected_title {
  color: #252525;
  font-size: 2em;
  text-transform: capitalize;
}
.features_selected_descricao {
  color: hsl(229, 8%, 60%);
  margin: 20px 0;
  min-width: 350px;
  max-width: 420px;
}
.features_selected_button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 0;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 400ms;
  text-transform: capitalize;
}
.features_selected_button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.extensions_texts {
  text-align: center;
}
.extensions_title {
  margin-bottom: 10px;
  font-size: 2em;
  color: #252525;
}
.extensions_descricao {
  width: 420px;
  margin: 0 auto;
  color: hsl(229, 8%, 60%);
}
.extensions_browsers {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}
.extensions_browsers_box {
  box-shadow: 0 5px 10px rgba(124, 124, 124, 0.3019607843);
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  height: 300px;
  overflow: hidden;
}
.extensions_browsers_firefox {
  margin-top: 150px;
}
.extensions_browsers_opera {
  margin-top: 300px;
}
.extensions_browsers_button {
  width: 200px;
  height: 45px;
  border-radius: 8px;
  border: 0;
  background-color: hsl(231, 69%, 60%);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid hsl(231, 69%, 60%);
  transition: background 400ms ease-in;
}
.extensions_browsers_button:hover {
  background-color: transparent;
  color: hsl(231, 69%, 60%);
}

@media screen and (max-width: 767px) {
  .menu_items {
    display: none;
  }
  .menu_hamburguer {
    display: block;
  }
  .main {
    flex-direction: column-reverse;
  }
  .main_texts {
    width: 100%;
    text-align: center;
  }
  .main_image {
    display: flex;
    justify-content: center;
  }
  .main_image_element {
    width: 360px;
  }
  .features_tabs {
    flex-direction: column;
    padding: 20px;
    border: 0;
    margin-bottom: 60px;
  }
  .features_link {
    border-bottom: 1px solid #c9c9c9;
  }
  .features_selected {
    background: url("../images/bg-hero-mobile-espelhado.svg") no-repeat top 50px left -140px;
  }
  .features_selected_img {
    width: 350px;
  }
  .features_selected_texts {
    text-align: center;
    padding: 50px;
  }
  .features_selected_descricao {
    text-align: center;
  }
  .extensions_descricao {
    width: 350px;
  }
  .extensions_browsers {
    flex-direction: column;
    align-items: center;
  }
  .extensions_browsers_firefox {
    margin-top: 0;
  }
  .extensions_browsers_opera {
    margin-top: 0;
  }
}
.header--responsive {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(37, 43, 70, 0.9);
}
.header--responsive .menu {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.header--responsive .menu_logo {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 40px;
}
.header--responsive .menu_logo_image {
  filter: brightness(0) invert(100%);
  width: 220px;
}
.header--responsive .menu_logo .menu_close {
  display: block;
  width: 20px;
  cursor: pointer;
}
.header--responsive .menu_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  justify-content: space-around;
}
.header--responsive .menu_items .menu_link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6784313725);
  font-weight: 600;
  color: white;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}
.header--responsive .menu_items .menu_login {
  background-color: transparent;
  border: 3px solid white;
}
.header--responsive .menu_social {
  display: flex;
  flex: 1;
  align-items: end;
  gap: 40px;
}
.header--responsive .menu_hamburguer {
  display: none;
}

.features_link--active {
  border-bottom: 4px solid hsl(0, 94%, 66%);
  font-weight: 600;
  color: #252525;
}
.features_selected--active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .features_selected--active {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
