$Primary: (    
    "SoftBlue": hsl(231, 69%, 60%),
    "SoftRed": hsl(0, 94%, 66%)
);

$Neutral:(
    "GrayshBlue": hsl(231, 5%, 51%),
    "VeryDarkBlue": hsl(229, 31%, 21%)
);

@mixin alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title{
    color: #252525;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 2em;
}